{
  "extends": [
    "react-app",
    "react-app/jest",
    "plugin:prettier/recommended",
    "prettier",
    "plugin:react-hooks/recommended"
  ],
  "plugins": ["prettier", "react-hooks"],
  "rules": {
    "prettier/prettier": [
      "warn",
      {
        "singleQuote": true,
        "endOfLine": "auto"
      }
    ],
    "react-hooks/exhaustive-deps": "warn"
  },
  "env": {
    "browser": true,
    "node": true,
    "es6": true
  },
  "parser": "@babel/eslint-parser",
  "parserOptions": {
    "ecmaVersion": 8,
    "requireConfigFile": false
  }
}
