.layout-result {
  height: 100vh;
}

.result-container {
  flex-direction: column;
}

.result-text {
  font-size: 24px;
  font-weight: 700;
  margin: 0;
}

.points {
  font-size: 24px;
  font-weight: 700;
  color: #1fa9f4;
  margin-top: 8px;
}

@media screen and (max-width: 767px) {
  .result-text {
    font-size: 22px;
  }

  .points {
    font-size: 26px;
    margin: 16px 0;
  }
}
