.card {
  flex-direction: column;
  padding: 8px 16px;
}

.answer {
  font-size: 18px;
  font-weight: 700;
  margin: 8px 0;
  pointer-events: none;
  visibility: hidden;
}

.word {
  font-size: 18px;
  font-weight: 700;
  padding: 0 48px;
  margin: 16px 8px;
  cursor: pointer;
}

.select {
  color: silver;
}

.correct {
  color: green;
}

.wrong {
  color: red;
}

.correctAnswer {
  color: greenyellow;
  visibility: visible;
}

.wrongAnswer {
  color: palevioletred;
  visibility: visible;
}

@media screen and (min-width: 767px) and (max-width: 1023px) {
  .card {
    padding: 4px 8px;
  }

  .answer {
    margin: 0;
    font-size: 16px;
    margin: 4px 0;
  }

  .word {
    font-size: 16px;
    padding: 0 48px;
    margin: 8px 4px;
  }
}

@media screen and (max-width: 767px) {
  .card {
    padding: 0;
    width: 100%;
  }
}
