.card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 8px 16px;
}

.answer {
  font-size: 18px;
  font-weight: 700;
  margin: 0 8px;
  pointer-events: none;
  visibility: hidden;
}

.word {
  font-size: 18px;
  font-weight: 700;
  padding: 0 48px;
  margin: 16px 8px;
  cursor: pointer;
}

.select {
  color: silver;
}

.correct {
  color: green;
}

.wrong {
  color: red;
}

.correctAnswer {
  color: greenyellow;
}

.wrongAnswer {
  color: palevioletred;
}
