.layout-game {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 32px 0;
}

.game-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.game-board {
  max-width: 60vw;
  border: 1px solid black;
  border-radius: 4px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  padding: 32px;
  margin-bottom: 4px;
}

h2 {
  margin-bottom: 24px;
}
